<div class="container">
  <app-device-info
    [currentPhase]="currentPhase"
    [(selectedDevice)]="selectedDevice"
    [(selectedProgrammer)]="selectedProgrammer">
  </app-device-info>
  @if (currentPhase === duplicationPhases.SELECT) {
    <app-step
      [description]="'Please select a device for duplication process and enter the amount of new device to be created'">
      <mat-form-field appearance="outline" content>
        <mat-label>Amount</mat-label>
        <input type="number" [min]="1" matInput placeholder="1" [(ngModel)]="selectedAmount"/>
        @if (!selectedAmount) {
          <mat-error>Amount is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button actions mat-raised-button color="primary"
              [disabled]="!selectedAmount || !selectedDevice || !selectedProgrammer"
              (click)="onSelectDevice()">Next
      </button>
    </app-step>
  } @else if (currentPhase === duplicationPhases.DUPLICATION) {
    <app-step [title]="'Duplication'"
              [description]="'Please enter the name for a new device'">
      <mat-form-field appearance="outline" content>
        <mat-label>Device</mat-label>
        <input type="text" matInput placeholder="Device" [(ngModel)]="newDeviceName"/>
        @if (!newDeviceName) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button actions mat-raised-button color="primary"
              [disabled]="!newDeviceName"
              (click)="onDuplicateDevice()">Next
      </button>
    </app-step>
  } @else if (currentPhase === duplicationPhases.PROGRAMMING) {
    <app-step [title]="'Programming'"
              [description]="'Please wait until device will be programming successfully'"
              [showProgressBar]="true">
      <button actions mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    </app-step>
  } @else if (currentPhase === duplicationPhases.RESULT) {
    <app-step [title]="'Result'"
              [description]="'These keys were successfully created:  \n\n' + createdDeviceNames"></app-step>
  }
</div>
